body{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}
.navbar {
    display: flex;
    gap: 20px;
   width: 400px;
   height: 25px;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-start;



}
.btn {
    background-color: #30B868;
    border-radius: 4px;  
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: transparent;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color: #000000;

}
.hero {
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
}
.hero h6 {
    background-color: #FFFFFF;
    margin-bottom: px;
    padding-left: 40px;
    font-size: 16;
    font-weight: 500;
    line-height: auto;
    color: #469165;
    width: 183px;
    border-radius: 8px;
    margin-bottom: 0%;
}
.hero h1 {
    /* font-size: 80px; */
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.hero p {
    text-align: center;
}
.btn-new {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
     color: aliceblue;
     background-color: green;
    padding: 10px;
    border-radius: 5%;
     border: solid;
     border-color: darkgreen;
     cursor: pointer;
     display: flex;
     align-items: center;
   
}
.container{
    width: 1360px;
    margin: auto;
}

.zero {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.zero h1 {
    text-align: center;
}
.box-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
      gap: 24px;
      padding: 30px;
    
    
}
.b {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px;
}
.i {
    
    background-color: orange;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px;

}
.b p {
    text-align: center;
    margin-top: 0px;
    font-weight: normal;
    font-size: 16px;
    color: black
}
.zero-container h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
}
.zero-container p {
    font-weight: normal;
    font-size: 16px;
    color: #627382;
    text-align: center;
}
.solution {
    width: 1360px;
    display: flex;
    padding: 120px;
    gap: 60px;
}
.textbox h6 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 120px;
    line-height: 20px;
    margin-bottom: 0%;
}
.textbox .o {
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    margin-top: 0px;
    
}
.textbox li {
    list-style: none;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0%;
    line-height: 20px;
    color: #627382;
}
.challange {
    width: 1360px;
    padding: 120px;
   
}
.challange button {
    align-items: center;
}

